{% extends "../base.html" %}

{% block title %}
{% end %}

{% block header %}
{% include '../home/header.html' %}
{% end %}

{% block scripts %}
{% end %}

{% block css %}
<link type="text/css" rel='stylesheet' href="{{ site_base }}/static/css/page.edit.css" />
<style type="text/css">
    .controls input, .controls textarea
    {
        padding: 10px 16px;
    }

    .col-sm-6, .col-sm-12
    {
        padding: 2px;
    }
</style>
{% end %}



{% block body %}
<div id="wrap">
    <div class="container min terminos">
        <div class="mobile" style="background:url('{{ read_image(site.name + '_sup_t_y_c',500) }}'); height:400px; background-size:cover; margin-top: 20px;  filter: grayscale(0%) brightness(65%); -webkit-filter: grayscale(0%) brightness(65%); -moz-filter: grayscale(0%) brightness(65%); -ms-filter: grayscale(0%) brightness(65%);-o-filter: grayscale(0%) brightness(65%); background-position:center; margin-bottom:20px;" data-img-width="1600" data-img-height="1064" data-diff="100">
            {% if is_admin %}
            <div class="image-upload part1 lapiz visible-movil">
                <label for="img_sup_t_y_c">
                    <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                </label>
                <input type="file" class="editableimage" image-id="{{ site.name }}_sup_t_y_c" name="image" id="img_sup_t_y_c" >
            </div>
            {% end %}
            <img id="{{ site.name }}_sup_t_y_c" src="{{ read_image(site.name + '_sup_t_y_c', 1) }}" onload="this.onload='';this.src='{{ read_image(site.name + '_sup_t_y_c',500) }}'" class="banner_su hidden" alt="item">
        </div>
    </div>

    <div class="container">
            <div class="titulo-terminos {{editabletext}}" text-id="{{ site.name + 'text_main_t_y_c_2' }}">{{ read_text(site.name +  'text_main_t_y_c_2') }}</div>

            <div class="desc-terminos {{editabletext}}" text-id="{{ site.name + 'text_main_t_y_c_3' }}">{{ read_text(site.name +  'text_main_t_y_c_3') }}</div>
    </div>
</div>



{% include '../home/footer.html' %}
{% end %}

