#footer
{
    background-color: #1E1E1E;
    width: 100%;
    bottom: 0;
    position: relative;
    height: auto;
    padding: 0;
}

.margin-top-footer
{
    color: white;
    margin-top: 80px;
}

.margin-top-footer-logo
{
    color: white;
    margin-top: 80px;
}

.txt-footer-logo a
{
    color: white;
}

.logo-footer
{
    height: 55px;
    width: 200px;
    float: left;
    object-fit: scale-down;
    margin-left: 5px;
    position: relative;
    z-index: 1;
}

.txt-footer-logo a:hover
{
    color: white;
}

.txt-footer-logo
{
    font-style: italic;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: left;
    left: 9%;
    position: relative;
}

.caja-logo-footer
{
    width: 250px;
    float: left;
    position: relative;
    left: 0px;
}

.ul-2
{
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 30px;
}

.footer-div-content
{
    margin-bottom: 25px;
    position: relative;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
    font-weight: 200;
}

.footer-div-newsletter
{
    width: 85%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px;
}

hr.lini
{
    margin-top: 20px;
    margin-bottom: 60px;
    border: 0;
    border-top: 1px solid rgba(128, 128, 128, 0.26);
}

.coy
{
    text-align: left;
    font-size: 11px;
    color: gray;
    margin-top: 21px;
    bottom: 21px;
    position: relative;
}

.img-redes
{
    width: 64%;
}

.nimi
{
    padding: 0px;
    float: right;
}

.footer-icon
{
    width: 22%;
    float: right;
}

.form--merge input
{
    border-radius: 50px 0 0 50px;
}

.form--merge button[type="submit"]
{
    border-radius: 0 50px 50px 0;
    position: relative;
    margin: 0;
}

.form-contact
{
    margin-bottom: 30px;
}

.contact-banner
{
    width: 100%;
    object-fit: cover;
    height: 350px;
    margin-bottom: 30px;
}

input[type],
textarea,
select
{
    -webkit-appearance: none;
    background: #ffffff;
    padding: 0.8125em;
    border-radius: 5px;
    border: solid 1px #ccc;
    left: 9%;
    height: 54px;
}

button.enviarr
{
    height: 54px;
    letter-spacing: 1px;
    color: #fff;
    background: #425cbb;
    border-color: #425cbb;
    bottom: 0px;
    width: 65px;
    left: 3%;
}

img.editablelink.footer
{
    position: absolute;
    left: 0px;
    bottom: 20px;
    z-index: 100000;
}

@media (max-width: 768px)
{
    .margin-top-footer-logo
    {
        padding-left: 0px;
    }

    input[type],
    textarea,
    select
    {
        left: 0%;
    }

    .margin-top-footer
    {
        padding-left: 0px;
    }

    .caja-logo-footer
    {
        width: 100%;
    }

    .logo-footer
    {
        width: 100%;
        object-fit: scale-down;
    }

    .txt-footer-logo
    {
        left: 5%;
    }
}

@media (max-width: 767px)
{
    input[type],
    textarea,
    select
    {
        -webkit-appearance: none;
        background: #ffffff;
        padding: 0.8125em;
        border-radius: 50px;
        border: none;
        left: 9%;
        height: 54px;
        width: 70%;
    }

    .footer-icon
    {
        width: 22%;
        float: left;
    }

    .img-redes
    {
        width: 20%;
        margin-bottom: 10px;
    }

    .margin-top-footer
    {
        margin-top: 0px;
    }

    .footer-div-newsletter
    {
        width: 100%;
        text-align: center;
    }

    .info-comertial
    {
        text-align: center;
    }

    .txt-footer-logo
    {
        font-style: italic;
        font-size: 16px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        float: left;
        margin-top: 30px;
        left: 0%;
        width: 100%;
        text-align: center;
        position: relative;
    }
}
